@import "bootstrap/scss/bootstrap";

*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
}

html,
body {
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

aside {
	ul {
		a {
			width: 100%;
			display: block;

			&.active {
				&::after {
					content: "\1F892";
					position: absolute;
					right: 0;
					font-size: 30px;
					line-height: 1;
					top: -4px;
				}
			}
		}
	}
}

table {
	img {
		max-width: 100px;
	}
}